.test {
  font-size: 10px !important;
  position: relative !important;
}

#mindful-wrapper {
  height: 30px !important;
  line-height: 30px !important;
  background-color: transparent !important;
  /* margin?? */
}
