.test {
  font-size: 10px !important;
  position: relative !important;
}

#mindful-wrapper {
  height: 30px !important;
  width: 200px !important;
  line-height: 30px !important;
  background-color: transparent !important;
  /* margin?? */
}

.mindful-span-elements {
    display: inline-block !important;
    line-height: 30px !important;
    margin-right: 10px !important;
    height: 30px !important;
    border: 1px solid #000 !important;
    border-radius: 5px !important;
}
